<!doctype html>
<html lang="pt-br" ng-app="demonstracaoApp">
  <body>
    <div class="view-container" ng-controller="DemonstracaoController">
        <periodo-calendario inicio="periodoDemo.inicio" fim="periodoDemo.fim"></periodo-calendario>
    </div>
  </body>
</html>